<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/tasks">Task Index</a></li>
        <li><a href="/tasks/new">Create Task</a></li>
      </ul>
    </div>
  </div>
</nav>
<h1 id="title" class="col-md-4 col-md-offset-4">All Tasks</h1>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="list-group" id="task_list">
<% @tasks.each do |task| %>
  <button type="button" class="list-group-item"><%= task.id %>:  <a href="/tasks/<%= task.id%>"><%= task.title_check.capitalize %></a></h3>
  <button type="button" class="btn btn-secondary btn-sm"><a href="/tasks/<%= task.id %>/edit">Edit</a></button>
  <form class="" action="/tasks/<%= task.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
  </form>
<% end %>
</div>
